.p-password input {
    padding-right: 2.5rem !important; 
  }
  
  .p-password .p-password-toggle-icon {
    right: 1rem;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-color: black;
    background-color: #f4f6f9;
  }
  
  .login-card {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .login-image {
    max-width: 100px;
  }
  
  .login-title {
    text-align: left;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: 1500;
    padding-bottom: 0.5rem;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
  }
  
  .input-group label {
    margin-bottom: 0.5rem;
    font-weight: 600;
  }
  
  .login-button {
    width: 100%;
    height: 3rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.25rem;
  }

  .login-links {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
  
  .login-links a {
    color: #007ad9;
    text-decoration: none;
    font-size: 0.9rem;
  }
  
  .login-links a:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 576px) {
    .login-card {
      padding: 1.5rem;
    }
  
    .login-title {
      font-size: 1.25rem;
    }
  
    .login-button {
      height: 2.5rem;
      font-size: 0.9rem;
    }
  }
  